.contentmarketing {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: var(--main-heading);
  line-height: 25px;
  margin-top: 10px;
}
.contentmarketing_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 500;
}
.contentmarketing_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}
.contentmarketing_main_left {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 25px;
}
.contentmarketing_main_left > h6 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 40px
}
.contentmarketing_main_left>p{
    margin-bottom: 15px;
    width: 100%;
    text-align: justify;
}
.contentmarketing_main_left>ul>li{
    font-size: 18px ;
    font-weight: 500;
    margin-bottom: 10px;
}
.contentmarketing_main_right {
  flex: 0.35;
}
.contentmarketing_card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  background-color: var( --card-color);
}
.contentmarketing_main1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.contentmarketing_main1 > h6 {
  font-size: 45px;
  font-weight: 500;
  color: var(--main-heading);
  padding: 10px 15px;
  line-height: 40px
}
.contentmarketing_main1_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contentmarketing_main1_2_left {
  flex: 0.4;
}
.contentmarketing_main1_2_right {
  flex: 0.5;
  
}
.contentmarketing_main1_2_right>p{
    margin-bottom: 10px;
    
}
.contentmarketing_main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.contentmarketing_main2>h6{
    font-size: 45px;
    font-weight: 500;
    line-height: 40px
}
.contentmarketing_main2>p{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 83%;
}
.contentmarketing_main2_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 85%;
}
.contentmarketing_main2_2_left{
    flex: 0.45;
}
.contentmarketing_main2_2_left>ul>li{
font-size: 18px;
font-weight: 500;
margin-bottom: 30px;
margin-top: 20px;
}
.contentmarketing_main2_2_right{
    flex: 0.45;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.contentmarketing_new{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.contentmarketing_new_heading{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 90%;
}
.contentmarketing_new_heading>h6{
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 40px
}
.contentmarketing_new_heading>p{
  font-size: 18px;
  margin-bottom: 10px;
  text-align: justify;
}
.contentmarketing_new_first{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contentmarketing_new_first_left,.contentmarketing_new_first_right{
  flex: 0.45;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.contentmarketing_new_first_right{
  margin-left: 20px;
}
.contentmarketing_new_first_left>span,.contentmarketing_new_first_right>span{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.contentmarketing_new_first_left>h6,.contentmarketing_new_first_right>h6{
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 40px
}
.contentmarketing_new_first_left>p,.contentmarketing_new_first_right>p{
  font-size: 18px;
  margin-bottom: 10px;
}

.contentmarketing_new_first_left>span>img,.contentmarketing_new_first_right>span>img{
  height: 60px;
}
.contentmarketing_new_first_left>div,.contentmarketing_new_first_right>div{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.contentmarketing_new_first_left>div>span,.contentmarketing_new_first_right>div>span{
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contentmarketing_new_first_left>div>span>p,.contentmarketing_new_first_right>div>span>p{
  margin-left: 5px;
}
.contentmarketing_main2_2_left>h6{
font-size: 25px;
font-weight: 500;
}
@media (max-width: 600px) {
  .contentmarketing {
    width: 100%;
  }
  .contentmarketing_header {
    font-size: 25px;
  }
  .contentmarketing_main {
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .contentmarketing_main_left {
    flex: 1;
    margin-top: 20px;
    margin-left: 10px;
  }
  .contentmarketing_main_right {
    flex: 1;
  }
  .contentmarketing_main1 > h6 {
    margin-bottom: 20px;
  }
  .contentmarketing_main1_2_right>p{
    margin-top: 20px;
  }
  .contentmarketing_card {
    flex-direction: column;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .contentmarketing_main1_2 {
    flex-direction: column;
  }
  .contentmarketing_main1_2_left {
    flex: 1;
  }
  .contentmarketing_main1_2_right {
    flex: 1;
  }
  .contentmarketing_main1_2_right{
    padding: 10px 25px;
  }
  .contentmarketing_main2>h6{
    padding: 10px 15px;
  }
  .contentmarketing_main2>p{
    width: 95%;
    font-size: 20px;
    text-align: justify;
  }
  .contentmarketing_main2_2_left{
    flex: 0.8;
    width: 95%;
    margin-top: 15px;
  }
  .contentmarketing_main2_2_left>ul{
    padding-left: 10px;
  }
  .contentmarketing_main2_2{
    flex-direction: column-reverse;
  }
  .contentmarketing_main2_2_right{
    flex: 1;
  }
  .contentmarketing_main_left>p{
    width: 95%;
  }
  .contentmarketing_main_left>ul{
    margin-left: 15px;
  }
  .contentmarketing_main2_2{
    width: 95%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .contentmarketing_new_first{
    flex-direction: column;
    width: 95%;
  }
  .contentmarketing_new_first_left,.contentmarketing_new_first_right{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contentmarketing_new_first_right{
    margin-left: 0;
  }
  .contentmarketing_new_heading{
    width: 95%;
  }
  .contentmarketing_new_first_left>div>span>p, .contentmarketing_new_first_right>div>span>p {
    margin-left: 10px;
    text-align: justify;
  }
  .contentmarketing_new_first_left>p, .contentmarketing_new_first_right>p {
    text-align: justify;
  }
  .contentmarketing_new_heading>h6{
    padding-left: 5px;
  }
  .contentmarketing_new_heading>p{
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (min-width:601px) and (max-width:1480px){
  .contentmarketing_card{
      padding: 0;
  }
}
