.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.banner>img{
    object-fit: contain;
    height: 325px;
    border-radius: 15px;
    width: 90%;
}
@media(max-width:600px){
    .banner{
     width: 90%;
     height: fit-content;
    }
    .banner>img{
        object-fit: contain;
        height: 150px;
      
        width: 100%;
        margin-left: 10px;
    }
}