.ourwork {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: var(--main-heading);
}
.ourwork_header>h5{
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}
.ourwork_subheader {
  display: flex;
  flex-wrap: wrap;
  width: 83%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 20px;
}
.ourwork_subheader > h6 {
  font-size: 30px;
  font-weight: 500;
  margin-right: 30px;
}
.ourwork_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  width: 70%;
  margin-top: 25px;
  margin-bottom: 20px;
  
}
.ourwork_content_second_div{
  margin-top: 20px;
}
.ourwork_logo>img{
  height: 200px;
  object-fit: contain;
  margin: 10px 25px;
}
.ourwork_content_view_More{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.ourwork_content_one {
  flex: 0.45;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 25px;
}
.ourwork_content_one>img{
  
  object-fit: contain;
  height: 300px;
  margin-bottom: 15px;
  width: 100%;
}
.ourwork_content_two {
  flex: 0.45;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 25px;
  margin-bottom: 15px;
}
.ourwork_content_two>img{
 
  object-fit: contain;
  height: 300px;
  width: 100%;
}
.ourwork_content_three {
  flex: 0.45;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.ourwork_content_three>img{
  
  object-fit: contain;
  height: 300px;
  width: 100%;
}
.ourwork_content_four {
  flex: 0.45;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 25px;
  margin-bottom: 15px;
}
.ourwork_content_four>img{
 
  object-fit: contain;
  height: 300px;
  width: 100%;
}
.ourwork_logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60%;

}
.ourwork_content_open {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 600px;
  width: 100%;
  position: relative;
}
.ourwork_content_small{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ourwork_content_small>img{
  height: 400px;
  object-fit: contain;
  
}
.ourwork_content_small>img:last-child{
  margin-top: 20px;
}
.ourwork_content_details {
  flex: 0.5;
  width: 50%;
  height: 100vh;
  background-color: black;
  /* z-index: 100; */
  position: absolute;
  top: 0;
  right: 0;
  background-color: brown;
}

.ourwork_content_img {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -356px;
  /* background-color: brown; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
}
.ourwork_content_img > img {
  object-fit: contain;
  height: 500px;
}
.slide-fwd-center {
  -webkit-animation: slide-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
    both;
  animation: slide-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-27 17:43:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
.moadl_ourwork {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.ourwork_modal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:var(  --card-color  ) !important;
  color: var(--main-heading);
  width: 1000px;
  border-radius: 10px;
}
.ourwork_modal_left {
  flex: 0.45;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 600px;
}
.ourwork_modal_left > img {
  object-fit: contain;
  height: 400px;
}
.ourwork_modal_right {
  flex: 0.45;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 600px;
}
.ourwork_modal_right_header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.ourwork_modal_right_header_left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ourwork_modal_right_header_left > span {
  margin-left: 10px;
  margin-right: 10px;
}
.ourwork_modal_right_discription {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 15px;
}
.ourwork_modal_right_discription > p {
  width: 400px;
}
.ourwork_modal_right_discription_star {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.alice_modal {
  height: 200px !important;
  /* width: 400px !important; */
}
.alice_img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.ourwork_modal_right_header_img_slider {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-fwd-center {
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    500ms infinite both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms
    infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-3-1 13:12:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
    transform: translateZ(160px);
  }
}
.ourwork_content>div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

}
@media screen and (max-width: 600px) {
  .ourwork {
    width: 100%;
    flex-wrap: wrap;
  }
  .ourwork_header {
    font-size: 25px;
  }
  .ourwork_content_second_div{
    margin-top: 0;
  }
  
  .ourwork_banner {
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ourwork_subheader {
    width: 95%;
    flex-wrap: nowrap;
    overflow-x: scroll;
  
  }
  .ourwork_content {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .ourwork_content_one{
    flex: 1;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
   
  }
  .ourwork_content_two{
    flex: 1;
    margin-left: 0;
    /* margin-bottom: 0; */
    margin-right: 0;
  }
  .ourwork_content_three{
    flex: 1;
    margin-left: 0;
    /* margin-bottom: 0; */
    margin-right: 0;
  }
  .ourwork_content>div{
    flex-direction: column;
  }
  .ourwork_content_four{
    flex: 1;
    height: 250px;
  }
  .ourwork_content_one>img,.ourwork_content_two>img,.ourwork_content_three>img,.ourwork_content_four>img{
  width: 300px;
  height: 300px;
    object-fit: contain;
  }
  .ourwork_content>img{
width: 250px;
height: 250px;
  }
  .ourwork_modal{
    width: 80%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
  }
  .ourwork_modal_left{
    display: none;
  }
  .ourwork_modal_right{
    flex: 1;
    padding: 10px 15px;
    width: 100%;
  }
  .ourwork_modal_right_header{
    justify-content: center
  }
  .ourwork_modal_right_discription{
    justify-content: center;
  }
  .ourwork_modal_right_discription > p{
    width: 100%;
  }
  .ourwork_modal_right_header_right{
    display: none;
  }
  .ourwork_logo>img{
    object-fit: contain;
    height: 100px;
  }
  .ourwork_content_small{
   flex-direction: column;
  }
  .ourwork_content_small>img{
  height: 150px;
    object-fit: contain;
  }
  .ourwork_logo{
    justify-content: center;
  }
  /* .ourwork_modal_right_header_img_slider{
    border: 1px solid black;
  } */
  .ourwork_modal_right_header_img_slider_carousel{
display: none;
  }
  .ourwork_logo {
    width: 90%;
    margin-top: 30px;
  }
  .ourwork_content_four{
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width:700px) and (max-height:1023px){
  .ourwork_content{
    width: 95%;
  }
  .ourwork_logo {
    width: 75%;
  }
}
@media screen and (min-width: 1024px) and (max-height: 1320px) {
  /* iPad Pro */
  .ourwork_content{
  width: 95%;
}
}
@media screen and (min-width: 1024px) and (max-height: 1310px) {
  /* Laptop */
  .ourwork_content{
    width: 95%;
}
}
@media screen and(min-width:700px) and (max-width:1500px){
.ourwork_content{
  width: 80%;
}
.ourwork_logo {
  width: 75%;
}
}