.members_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 200px;
  cursor: pointer;
  justify-content: center;
}
/* .members_card_img {
} */
.members_card_img > img {
  border: 3.5px solid #61b946;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
.members_card_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.members_card_details>h6{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--main-heading);
}
.members_card_details>p{
  color: #61b946;
}
.members_card_icons{
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  transition: all 2ms ease-in-out linear;
}
.members_card_icons_icon{
  margin-right: 10px;
  cursor: pointer;
}
.members_card:hover .members_card_icons{
display: flex;

}