.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.home > h2,
.home > p {
  text-align: center;
  margin-bottom: 15px;
}
.home > h2 {
  font-size: 45px;
  font-weight: 800;
  color: var(--main-heading);
  /* line-height: 87.3px; */
}
.home > p {
  color: var(--main-heading);
  opacity: 0.7;
  font-size: 22px;
  font-weight: 400;
  width: 800px;
  text-align: justify;
  word-break:break-word;
}
.home > img {
  width: 600px;
}
.home_link {
  background-color:var(--primary-color1);
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
}
.home_img {
  position: relative;
}
.home_img::before {
  margin: 3rem;
  content: "360";
  position: absolute;
  /* transform: rotate(300deg); */
  /* -webkit-transform: rotate(300deg); */
  /* color: rgb(187, 182, 182); */
  background: linear-gradient(180deg, #e4e2fa 0%, rgba(57, 78, 244, 0.03) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
  white-space: nowrap;
  top: -220px;
  left: 0px;
  z-index: -1;
  font-size: 380px;
  line-height: 0.8em;
  font-weight: 700;
  color: rgb(2, 0, 36);
  /* transform: all 2s ease-in liner; */

  /* transition-delay: all 2s linear ease-in ; */

  animation: logoText 4s linear ease-in;
}
@keyframes logoText {
  0% {
    top: 10px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 500px;
  }
}
.home_left_top {
  position: absolute;
  top: 70px;
  left: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.home_left_top > span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* color: var( --main-heading); */
}
.home_left_top > span>strong{
  /* color: var(--main-heading); */
}
.home_left_buttom {
  position: absolute;
  bottom: 70px;
  left: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* color: var(--main-heading); */
  width: 150px;
  height: 100px;
  border-radius: 10px;
  width: 180px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.home_left_buttom > span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home_right_top {
  position: absolute;
  right: -100px;
  top: 70px;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* color: var(--main-heading); */
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 225px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.home_right_top > span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.bounce-top {
	-webkit-animation: bounce-top 40s 1s infinite alternate both !important;
	        animation: bounce-top 40s 1s infinite alternate both !important;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-4-25 13:58:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

.home_right_button {
  position: absolute;
  right: -100px;
  bottom: 70px;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* color: var(--main-heading); */

  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.home_right_button > span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home_right_button_span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.avatar {
  height: 20px;
  margin-right: 10px;
}
.slide-in-fwd-br {
  -webkit-animation: slide-in-fwd-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    4s linear both;
  animation: slide-in-fwd-br 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-21 10:45:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-fwd-br {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(1000px);
    transform: translateZ(-1400px) translateY(800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-br {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(1000px);
    transform: translateZ(-1400px) translateY(800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-fwd-tr {
  -webkit-animation: slide-in-fwd-tr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    2s linear both;
  animation: slide-in-fwd-tr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-21 10:47:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-fwd-tr {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
    transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-tr {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
    transform: translateZ(-1400px) translateY(-800px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-fwd-tl {
  -webkit-animation: slide-in-fwd-tl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    2s linear both;
  animation: slide-in-fwd-tl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-21 10:48:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-fwd-tl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px)
      translateX(-1000px);
    transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-tl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px)
      translateX(-1000px);
    transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-fwd-bl {
  -webkit-animation: slide-in-fwd-bl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    2s linear both;
  animation: slide-in-fwd-bl 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-2-21 10:50:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-fwd-bl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
    transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-bl {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
    transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}
.home_left_top_star {
  color: gold !important;
  margin-right: 10px;
}
.home_left_buttom_span {
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (max-width: 600px) {
  
  .home > h2 {
    font-size: 30px;
  }
  .home>p{
    width: 90%;
  }
  .home_img {
    /* width: 50%; */
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .home_img > img {
    object-fit: contain;
    height: 400px;
    width: 95%;
  }
  .home_left_top {
    display: none;
  }
  .home_left_buttom {
    display: none;
  }
  .home_right_top {
    display: none;
  }
  .home_right_button {
    display: none;
  }
  .home_img::before {
    font-size: 200px;
    top: -85px;
    left: -30px;
    /* background: linear-gradient(180deg, #e4e2fa 0%, rgba(57, 78, 244, 0.5) 80%); */
  }
}
